#body #light{
    background-color:cadetblue;
}

#body #dark{
    background-color: rgb(16, 16, 16);
}

#light nav{
    padding: 10px;
    background-color:rgb(113, 179, 220)
}

#dark nav{
    padding: 10px;
    background-color:rgba(113, 179, 220, 0.208)
}

#light nav a {
    color: white;
}
#dark nav a{
    color: white
}

#container h1{
    color:blue;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 60px;
}

#light #posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    text-align: center;
    background-color: rgb(94, 215, 228);
    color: white;
}

#dark #posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    text-align: center;
    background-color: rgb(28, 64, 68);
    color: white;
}
#light #posts a{
    color: white
}

#posttitle{
    color:honeydew
}

#postdec{
    color:azure
}

#addcomm{
    color:azure
}

#post{
    border: rgb(226, 110, 133) 5px double;
    margin: 10px;
}

#post img{
    max-width: 60%
}

#onepost{
    margin: 30px;
}

#reply{
    background-color: rgb(226, 126, 126);
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: double black 4px;
    border-radius: 20px;
}

#dark #switch{
    display: grid;
    align-items: right;
    margin-left: 94%;
    color: white;
    text-align: center;
}

#light #switch{
    display: grid;
    align-items: right;
    margin-left: 94%
}
